@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root{
    --primary-color:#00c2de;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: "Racing Sans One", sans-serif;
}

/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

header::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 40%;
    height: 5px;
    background: linear-gradient(90deg, var(--primary-color), transparent);
}

.logo{
    font-size: 30px;
    color: #fff;
}

header img{
    max-width: 200px;
    filter: invert(1);
}

header .years{
    font-family: "Racing Sans One", cursive;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    margin-top: 40px;
    letter-spacing: 1px;
}

header .menu{
    position: relative;
    height: 30px;
    width: 30px;
    background: url('../images/menu-3-fill.png');
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}

header .menu.active{
    position: relative;
    height: 30px;
    width: 30px;
    background: url('../images/close-line.png');
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}


/* Navigation */

.nav{
    z-index: 200;
    position: absolute;
    top: 0;
    right: 100px;
    width: 30%;
    height: 5px;
    border-bottom: 5px solid;
    border-image: linear-gradient(
        90deg,
        transparent,
        var(--primary-color),
        var(--primary-color)
    )30;
    background: transparent;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transform-origin: right;
}

.nav.active{
    top: 100px;
    width: 40%;
    height: 100px;
    border-top: 5px solid;
    border-image: linear-gradient(
        90deg,
        transparent,
        var(--primary-color),
        var(--primary-color),
        transparent
    )30;
    border-bottom: none;
}

.nav li{
    opacity: 0;
    visibility: hidden;
}
